/*styles start*/
.mainPortfolio{
    display: block;
    margin-top: 10vw;
    padding-bottom: 20vh;
    font-family: 'Roboto', sans-serif;
}

.contPortfolio{
    --container-width: 1200px;

    max-width: var(--container-width);
    margin: 0 auto;
    padding: 5vh 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mainPortfolio .contPortfolio .photo{
    padding: 1vw;
    margin-top: 7vw;
}

img{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.mainPortfolio .contPortfolio .sectionPortfolio {
    width: 80%;
}

.mainPortfolio .contPortfolio .sectionPortfolio h1{
    color: var(--main-color);
    font-size: calc(1rem + 2vmin);
}

.mainPortfolio .contPortfolio .sectionPortfolio p {
    font-size: calc(.65rem + .65vmin);
    margin-top: 2vh;
    letter-spacing: 1px;
    color: var(--secondary-color);
    border-left-style: solid;
    padding-left: calc(1rem + 1vmin);
}

.mainPortfolio .contPortfolio .photo >img{
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
}

.mainPortfolio .block-2 .sectionPortfolio2 {
    padding-left: 9vw;
}

.mainPortfolio .block-2 .sectionPortfolio2 h1 {
    text-align: right;
}

.mainPortfolio .block-2 .sectionPortfolio2 p {
    border-left-style: none;
    border-right-style: solid;
    padding-left: calc(1rem + 1vmin);   
    padding: 0;
}
.mainPortfolio .block-2 .photo >img{
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}
.mainPortfolio .header-block .animation-right{
    animation-name: slide-in-right;
    animation-delay: 1s;
    animation-duration: 1.5s;
}
.mainPortfolio .block-2 .animation-left{
    animation-name: slide-in-left;
    animation-delay: 1s;
    animation-duration: 1.5s;
}
.mainPortfolio .footer-block .animation-right{
    animation-name: slide-in-right;
    animation-delay: 1s;
    animation-duration: 1.5s;
}
/*button toUp start*/
#toTop {
    border-color: var(--button-color);
    transition: 0.6s linear;
    padding: 0 1.5vw 0;
    position:fixed;
    bottom:10px;
    right:10px;
    cursor: pointer;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    text-decoration: none;
    }
#toTop:hover{
    background-color: var(--header-box-color);
    color: #fff;
}
#toTop.active {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
} 
/*button toUp end*/
/*styles end*/
/*media queries start*/
@media (max-width: 1200px) {
    img{
        max-width: 95%;
    }
}
@media (max-width: 750px) {
    .contPortfolio{
        display: block;
    }
    .mainPortfolio .block-2 .sectionPortfolio2 h1 {
        text-align: left;
    }
    .mainPortfolio .block-2 .sectionPortfolio2 p {
        margin: auto;
    }
    .mainPortfolio .block-2 .sectionPortfolio2{
        padding-left: 6.5vw;
    }
    .mainPortfolio .block-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    } 
    img{
        max-width: 60%;
        margin: auto;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    .mainPortfolio .contPortfolio .photo >img{
        border-radius: 70px;
        -webkit-border-radius: 70px;
        -moz-border-radius: 70px;
        -ms-border-radius: 70px;
        -o-border-radius: 70px;
    }
    .mainPortfolio .block-2 .photo >img{
        border-radius: 32px;
        -webkit-border-radius: 32px;
        -moz-border-radius: 32px;
        -ms-border-radius: 32px;
        -o-border-radius: 32px;
}
    .mainPortfolio .contPortfolio .sectionPortfolio p {
        border-left-style: none;
        border-right-style: none;
        padding: 0;
        margin-top: 2vh;
        letter-spacing: 1px;
    }
    .mainPortfolio .contPortfolio .photo {
        order: 2;
    }
    .mainPortfolio .contPortfolio .block-1 {
        width: 80%;
        padding-left: calc(4vh + 11vmin);
    }
}
    @media (max-width: 550px) {
        #toTop{
            bottom: 10px;
            right: 39.2%;
        }
    }
/*media queries end*/