/*reset styles*/
*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}
html:focus-within{
    scroll-behavior: smooth;
}
body{
    max-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}
img, 
picture,
hr{
    max-width: 100%;
    display: block;
}
input,
button,
textarea,
select{
    font: inherit;
}
/*reset styles*/

/*Helper start*/
 .container{
    --container-width: 1200px;

    max-width: var(--container-width);
    padding: 0 15px;
    margin: 0 auto;
 }
/*Helper end*/

/*Veriables start*/
:root {
    --main-color: #37447E;
    --secondary-color: #505F98;
    --header-box-color: #091133;
    --button-color: #111B47;
    --button-text-color: #091133;
    --button-border-color: #091133;
    --numbers-color: #222F65;
    --footer-gray-text: #939EA4;
    --footer-background-color: #E7ECFF;
    --footer-text-color: #929ECC;
    --footer-hr-color: #CDD1D4;
    --text-size: 14px;
    --icons-color: #B0B8BC;
    --background-color: #E7ECFF;
  }
/*Veriables end*/

/*styles start*/
/*navigation start*/
.header .container .navigation .header-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
}

.header .container .navigation .header-list li{
    list-style-type: none;
    padding: 0 1rem;
    font-size: 2vh;
    margin: 1rem 1rem;
    padding: 10px;
}

.header .container .navigation a{
    text-decoration: none;
    color: var(--secondary-color);
    transition: all 0.4s ease-in-out;
}
.header .container .navigation .logo{
    text-decoration: none;
    color: var(--main-color);
}
.header .container .navigation .logo:hover{
    text-decoration: none;
    color: var(--button-text-color);
}

.header .container .navigation a:hover{
    color: var(--header-box-color);
    transition: 1s;
}

.header .container .navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .navigation .logo, span{
    font-size: 3vw;
}
/*navigation end*/

/*main start*/
.main{
    /* width: 1440px;
    height: 1628px; */
    display: flex;  
    justify-content: space-between;
    align-items: center;
    margin-top: 10vw;
    padding-bottom: 20vh;
}
.main .container:nth-child(2){
    padding-top: 1.6vh;
    padding-bottom: 1.6vh;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgba(231, 236, 255, 0.5);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.main .container:nth-child(1){
    width: 10vw;
    position: relative;
    bottom: 3.5vw;
}

.main .photo{
    max-width: 1200px;
    max-height: 1100px;
}

.main .photo>img{
    max-width: 1200px;
    max-height: 1000px;
    width: 100%;
    height: auto;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.main .container .section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(18rem + 30vmin);
}
.main .container .section p{
    font-size: calc(.65rem + .65vmin);
    margin-top: 2vh;
    letter-spacing: 1px;
    color: var(--secondary-color);
}
.main .container .section h1{
    color: var(--main-color);
    font-size: 2vw;
}
/*bacground-img start*/

/*bacground-img end*/

/*button-main start*/
.main .container .section .main-button{
    width: 7vw;
    height: 3vh;
    border: 2px solid;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.main .container .section .b1{
    background-color: var(--button-color);
    border-color: var(--button-border-color);
    color: #ffff;
    transition: 0.6s linear;
}
.main .container .section .b1:hover{
    background-color: #fff;
    color: var(--button-color);
    border-color: var(--button-color);
}

.main .container .section .b2{
    background-color: #ffff;
    border-color: var(--button-color);
    color: var(--button-color);
    margin: 3.2vw 3vh;
    opacity: 1;
    transition: 0.6s linear;
}
.main .container .section .b2:hover{
    background-color: var(--header-box-color);
    color: #fff;
}
/*button-main end*/
/*main end*/

/*footer start*/
.footer{
    background-color: var(--footer-background-color);
    height: 14vw;
}
.footer .foot-con{
    background-color: var(--footer-background-color);
}
.footer .container .company-text{
    font-size: var(--text-size);
    color: var(--footer-gray-text);
}
.footer .container .pre-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3vh;
    padding-top: 2vh;
}
.footer .container hr{
    margin-bottom: 2vh;
    border: 1px solid var(--footer-hr-color);
}
.footer .container .double-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.3vw;
}
.footer .container .double-list .footer-list-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .container .double-list .footer-list-info li{
    list-style-type: none;    
}
.footer .container .double-list .footer-list-info a{
    text-decoration: none; 
    color: var(--footer-text-color);
    padding-right: 60px;
}
.footer .container .double-list .footer-list-socwebs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer .container .double-list .footer-list-socwebs li{
    list-style-type: none;
    padding: 15px;
}
.footer .container .double-list .footer-list-socwebs a{
    text-decoration: none;
    color: var(--icons-color);
}
/*footer end*/

/*for-lines-style start*/
    .top-line{
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
        background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
        background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
        background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    }
/*for-lines-style end*/
/*styles end*/